{%extends "registration/base.html"%}
{% load static %}
{% load part_filters %}
{% load kwacros %}

{%  block body %}

    <section class="app-body app-viewport">

        <div class="text-center" style="width: 80%; margin: 0 auto">
          {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Change password</button>
            </form>
          {% else %}
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
          {% endif %}
        </div>

    </section>

{% endblock %}
